name: "CI-Development"
env:
  deploy: "ver-${{ github.sha }}"

on:
  workflow_dispatch: {}
  workflow_call: {}
  push:
    branches-ignore: [main]

permissions:
  contents: read

jobs:
  ingress-egress:
    uses: ./.github/workflows/ingress-egress.yml
    secrets: inherit
    permissions: write-all
